VPNICA_PUBLIC_HOST=vpn.example.com
OPENVPN_PORT=443
OPENVPN_FIRST_CLIENT=family
OPENVPN_IMAGE=hwdsl2/openvpn-server@sha256:915913d11914bf1a181cb22186a629d7aa63edcfda43039bfa910971cf8fadd1
TELEMT_PORT=443
TELEMT_TLS_DOMAIN=googletagmanager.com
TELEMT_IMAGE=ghcr.io/telemt/telemt:3.5.7@sha256:4d8387dc75ca9dd349ca0ced34ab101ce8622fbfec2506f309274a9d8e522faf
IPLIST_URL='https://iplist.opencck.org/?format=text&data=cidr4'
RUSSIA_IPLIST_URL='https://russia.iplist.opencck.org/?format=text&data=cidr4'
IPLIST_EXACT_MAX_ROUTES=5000
RUSSIA_MAX_ROUTES=3000
